h1 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  text-align: center;
}

#oracle-image {
  width: 650px;
  margin: auto;
  margin-top: 40px;
}

#oracle-image img {
  width: 650px;
}

#integrated-contract-container {
  text-align: center;
  margin-bottom: 20px;
}

#oracle-button-container {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 50px;
}

#oracle-button {
  margin: auto;
  margin-bottom: 15px;
}

#loader {
  justify-content: center;
  margin-bottom: 12px;
}

#loader img {
  width: 80px;
}

#status-msg-container {
  margin-bottom: 12px;
  text-align: center;
  color: #777;
}

#prices-container {
  justify-content: center;
  margin: auto;
}

#github-link {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#github-link a {
  text-decoration: none;
}

.sign-in,
.sign-out {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
